body {
   
    background: url(img/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
}


.C {
	color: aliceblue;
	text-align: center;
}

.B {
	color: aliceblue;
	text-align: center;
}

.C {
	color: aliceblue;
	text-align: center;
}

.D {
	color: aliceblue;
	text-align: center;
}

.A {
	color: aliceblue;
	text-align: center;
}